.main {
  padding-top: 84px;
  padding-bottom: 120px;
  background: #eaf0f7;
  
}

.shirts {
  display: flex;

  justify-content: center;

}

.shirt {
  border-radius: 10px;
  margin-left: 10px;
}

.shirtGreen {
    background: #6FCF97;
}

.shirtBlue {
  background: #2D9CDB;

}

.shirtViolet {
  background: #BB6BD9;
}
