.main {
  
  
  text-align: center;
  
}

.main h1 {
  font-family: 'Scada';
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 80px;
  color: #333;
  padding-bottom: 40px;
  }

  .main h1 b {
    color:  #5857B8;
    font-weight: normal;
  } 



.shirts {
  display: flex;
  position: relativ;
  justify-content: center;
 

}

.shirt {
  border-radius: 10px;
  height: 350px;
}

.shirts img {
  padding-top: 34px;
  transition: 5s ease-in-out;
}

.shirts img:hover {
  height: 350px;
  

}



.shirtGreen {
    background: #6FCF97;
    
}

.shirtBlue {
  background: #2D9CDB;
  margin-left: 32px;
  margin-right: 32px;

}

.shirtViolet {
  background: #BB6BD9;
}

.btn  button {
  margin-top: 80px;
  width: 266px;
  height: 80px;
  background: #5857B8;
  border-radius: 10px;
  font-size: 24px;
  color: #FFFFFF
}

.btn  button:hover {
  cursor: pointer;
  background: #6a6ad1;
  color: #eee;
}

